USE [DB_A4BBBD_SWUPDB]
GO
/****** Object:  StoredProcedure [dbo].[CreateEncounter]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Creates a Encounter
-- =============================================

CREATE PROCEDURE [dbo].[CreateEncounter]

			@PatientId int 
           ,@LocationId int
           ,@RoomId int NULL
           ,@ProviderId int NULL
           ,@CreationTime datetime NULL
           ,@ScheduledTime datetime NULL
           ,@ArrivalTime datetime NULL
           ,@CheckInTime datetime NULL
           ,@AssignmentTime datetime NULL
           ,@CheckOutTime datetime NULL
           ,@CancelTime datetime NULL
           ,@Comments nvarchar(255) NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	INSERT INTO [dbo].[Encounter]
           ([PatientId]
           ,[LocationId]
           ,[RoomId]
           ,[ProviderId]
           ,[CreationTime]
           ,[ScheduledTime]
           ,[ArrivalTime]
           ,[CheckInTime]
           ,[AssignmentTime]
           ,[CheckOutTime]
           ,[CancelTime]
           ,[Comments])
     VALUES
           (@PatientId
           ,@LocationId
           ,@RoomId
           ,@ProviderId
           ,GETDATE()
           ,@ScheduledTime
           ,@ArrivalTime
           ,@CheckInTime
           ,@AssignmentTime
           ,@CheckOutTime
           ,@CancelTime
           ,@Comments)



		   DECLARE @encounterId INT; 
SELECT @encounterId =  SCOPE_IDENTITY();


INSERT INTO [dbo].[Entity]
           ([EntityTypeId]
           ,[ParentEntityId]
           ,[CreateDate]
           ,[CreateUser])
     VALUES
           (dbo.GetEntityTypeId('Encounter')
           ,@encounterId
           ,GETDATE()
           ,'admin')


END
GO
/****** Object:  StoredProcedure [dbo].[CreateLocation]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Create's a clinic location
-- =============================================

CREATE PROCEDURE [dbo].[CreateLocation]

@LocationDescription nvarchar(255)
,@ReassignmentMessage nvarchar(255)
,@AddressLine1 nvarchar(50)
,@AddressLine2 nvarchar(50)
,@AddressCity nvarchar(50)
,@AddressState nvarchar(50)
,@AddressPostalCode nvarchar(50)
,@OfficePhone nvarchar(50)
,@Fax nvarchar(50)
,@Notes nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Locations]
           ([LocationDescription]
           ,[ReassignmentMessage]
           ,[AddressLine1]
           ,[AddressLine2]
           ,[AddressCity]
           ,[AddressState]
           ,[AddressPostalCode]
           ,[OfficePhone]
           ,[Fax]
           ,[Notes])
     VALUES
           (
		    @LocationDescription
           ,@ReassignmentMessage
           ,@AddressLine1
           ,@AddressLine2
           ,@AddressCity
           ,@AddressState
           ,@AddressPostalCode
           ,@OfficePhone
           ,@Fax
           ,@Notes
		   )
END
GO
/****** Object:  StoredProcedure [dbo].[CreatePatient]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Creates a patient
-- =============================================

CREATE PROCEDURE [dbo].[CreatePatient]

			@FirstName nvarchar(50)
           ,@LastName nvarchar(50)
           ,@MiddleName nvarchar(50)
           ,@Suffix nvarchar(50)
           ,@Prefix nvarchar(50)
           ,@DateOfBirth datetime
           ,@Phone nvarchar(50)
           ,@Email nvarchar(50)
           ,@AddressLine1 nvarchar(50)
           ,@AddressLine2 nvarchar(50)
           ,@AddressCity nvarchar(50)
           ,@AddressState nvarchar(50)
           ,@AddressPostalCode nvarchar(50)
           ,@OfficePhone nvarchar(50)
           ,@Fax nvarchar(50)
           ,@PatientStatus nvarchar(50)
           ,@Gender nvarchar(50)
           ,@Marital_Status nvarchar(50)
           ,@ContactBy nvarchar(50)
           ,@Race nvarchar(50)
           ,@SSN nvarchar(50)
           ,@SpokenLanguage nvarchar(50)
           ,@RespProv nvarchar(50)
           ,@MRN nvarchar(50)
           ,@Referredby nvarchar(50)
           ,@EmpStatus nvarchar(50)
           ,@SensChart nvarchar(50)
           ,@HomeLocation nvarchar(50)
           ,@ExternalID nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


INSERT INTO [dbo].[Patients]
           ([FirstName]
           ,[LastName]
           ,[MiddleName]
           ,[Suffix]
           ,[Prefix]
           ,[DateOfBirth]
           ,[Phone]
           ,[Email]
           ,[AddressLine1]
           ,[AddressLine2]
           ,[AddressCity]
           ,[AddressState]
           ,[AddressPostalCode]
           ,[OfficePhone]
           ,[Fax]
           ,[PatientStatus]
           ,[Gender]
           ,[Marital_Status]
           ,[ContactBy]
           ,[Race]
           ,[SSN]
           ,[SpokenLanguage]
           ,[RespProv]
           ,[MRN]
           ,[Referredby]
           ,[EmpStatus]
           ,[SensChart]
           ,[HomeLocation]
           ,[ExternalID])
     VALUES
           (
		   @FirstName
           ,@LastName
           ,@MiddleName
           ,@Suffix
           ,@Prefix
           ,@DateOfBirth
           ,@Phone
           ,@Email
           ,@AddressLine1
           ,@AddressLine2
           ,@AddressCity
           ,@AddressState
           ,@AddressPostalCode
           ,@OfficePhone
           ,@Fax
           ,@PatientStatus
           ,@Gender
           ,@Marital_Status
           ,@ContactBy
           ,@Race
           ,@SSN
           ,@SpokenLanguage
           ,@RespProv
           ,@MRN
           ,@Referredby
           ,@EmpStatus
           ,@SensChart
           ,@HomeLocation
           ,@ExternalID )



END
GO
/****** Object:  StoredProcedure [dbo].[CreatePatientEAV]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreatePatientEAV]

 @first_name	    NVARCHAR(50) 
,@last_name			NVARCHAR(50) 
,@middle_name		NVARCHAR(50) 
,@dob				NVARCHAR(50) 
,@address_line_1	NVARCHAR(50) 
,@address_line_2	NVARCHAR(50) 
,@city				NVARCHAR(50) 
,@state				NVARCHAR(50) 
,@poastal_code		NVARCHAR(50) 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


INSERT INTO [dbo].[Entity]([EntityTypeId],[ParentEntityId],[CreateDate],[CreateUser])
     VALUES(1, NULL,GETDATE(),'system')

DECLARE @patientId INT ;
 SELECT @patientId =SCOPE_IDENTITY();

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@patientId, [dbo].[GetAttributeId]('first_name'), @first_name,GETDATE(),'admin') --FirstName
 
INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@patientId, [dbo].[GetAttributeId]('last_name'), @last_name,GETDATE(),'admin') --lastName

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@patientId, [dbo].[GetAttributeId]('middle_name'), @middle_name,GETDATE(),'admin') --Middle Initial

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@patientId, [dbo].[GetAttributeId]('dob'), @dob,GETDATE(),'admin') --DOB



INSERT INTO [dbo].[Entity]([EntityTypeId],[ParentEntityId],[CreateDate],[CreateUser])
     VALUES(3, @patientId,GETDATE(),'system')

DECLARE @addressId INT; 
SELECT @addressId =  SCOPE_IDENTITY();

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@addressId, [dbo].[GetAttributeId]('address_line_1'), @address_line_1,GETDATE(),'admin') --AddrLine1

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@addressId, [dbo].[GetAttributeId]('address_line_2'), @address_line_2,GETDATE(),'admin') --AddrLine2

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@addressId, [dbo].[GetAttributeId]('city'), @city,GETDATE(),'admin') --City

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@addressId, [dbo].[GetAttributeId]('state'),@state,GETDATE(),'admin') --State

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES(@addressId, [dbo].[GetAttributeId]('postal_code'), @poastal_code,GETDATE(),'admin') --zip



END
GO
/****** Object:  StoredProcedure [dbo].[CreateProvider]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Create a provider
-- =============================================

CREATE PROCEDURE [dbo].[CreateProvider]
       @FirstName   nvarchar(50)
      ,@LastName   nvarchar(50)
      ,@MiddleName   nvarchar(50)
      ,@Suffix   nvarchar(50)
      ,@Prefix   nvarchar(50)
      ,@DateOfBirth   datetime
      ,@Phone   nvarchar(50)
      ,@Email   nvarchar(50)
      ,@AddressLine1   nvarchar(50)
      ,@AddressLine2   nvarchar(50)
      ,@AddressCity   nvarchar(50)
      ,@AddressState   nvarchar(50)
      ,@AddressPostalCode   nvarchar(50)
      ,@OfficePhone   nvarchar(50)
      ,@Fax   nvarchar(50)
      ,@License   nvarchar(50)
      ,@AreasOfPractice   nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


INSERT INTO [dbo].[Providers]
           ([FirstName]
           ,[LastName]
           ,[MiddleName]
           ,[Suffix]
           ,[Prefix]
           ,[DateOfBirth]
           ,[Phone]
           ,[Email]
           ,[AddressLine1]
           ,[AddressLine2]
           ,[AddressCity]
           ,[AddressState]
           ,[AddressPostalCode]
           ,[OfficePhone]
           ,[Fax]
           ,[License]
           ,[AreasOfPractice])
     VALUES
           (@FirstName
           ,@LastName
           ,@MiddleName
           ,@Suffix
           ,@Prefix
           ,@DateOfBirth
           ,@Phone
           ,@Email
           ,@AddressLine1
           ,@AddressLine2
           ,@AddressCity
           ,@AddressState
           ,@AddressPostalCode
           ,@OfficePhone
           ,@Fax
           ,@License
           ,@AreasOfPractice)


END
GO
/****** Object:  StoredProcedure [dbo].[CreateRoom]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Creates a room
-- =============================================

CREATE PROCEDURE [dbo].[CreateRoom]

 @LocationId int
,@RoomDescription nvarchar(255)
,@Notes nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



INSERT INTO [dbo].[Rooms]
           ([LocationId]
           ,[RoomDescription]
           ,[Notes])
     VALUES
           (@LocationId
           ,@RoomDescription
           ,@Notes);
		   
END
GO
/****** Object:  StoredProcedure [dbo].[GetAttributeList]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/28/2021
-- Description:	Gets Attributes
-- =============================================
CREATE PROCEDURE [dbo].[GetAttributeList] 

AS
BEGIN
SELECT  [Id]
      ,[AttributeCode]
      ,[Title]
      ,[DataType]
  FROM [dbo].[Attributes] WHERE ID >= 10
END
GO
/****** Object:  StoredProcedure [dbo].[GetAttributeValuesByEncounter]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/28/2021
-- Description:	Gets Attribute Values By Encounter
-- =============================================
CREATE PROCEDURE [dbo].[GetAttributeValuesByEncounter]

@EncounterId INT

AS
BEGIN
 
SELECT DISTINCT
@EncounterId As EncounterId,
[AttributeId],
[AttributeValue] ,
[AttributeCode],
[Title],
[DataType],
MAX([LastUpdate])UpdateTime

FROM
AttributeValues 
Inner Join Attributes on 
Attributes.Id = AttributeValues.AttributeId 
where EntityId= [dbo].[GetEntityIdFromEncounterId](@EncounterId)
GROUP BY [AttributeId],
[AttributeValue] ,
[AttributeCode],
[Title],
[DataType]
END
GO
/****** Object:  StoredProcedure [dbo].[GetEncounterById]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Encounter By Id
-- =============================================
CREATE PROCEDURE [dbo].[GetEncounterById] 
@Id INT
AS
BEGIN

SELECT [Id]
      ,[PatientId]
      ,[LocationId]
      ,[RoomId]
      ,[ProviderId]
      ,[CreationTime]
      ,[ScheduledTime]
      ,[ArrivalTime]
      ,[CheckInTime]
      ,[AssignmentTime]
      ,[CheckOutTime]
      ,[CancelTime]
      ,[Comments]
  FROM [dbo].[Encounter]
 WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[GetEncounters]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Encounters
-- =============================================
CREATE PROCEDURE [dbo].[GetEncounters]
AS
BEGIN

SELECT [Id]
      ,[PatientId]
      ,[LocationId]
      ,[RoomId]
      ,[ProviderId]
      ,[CreationTime]
      ,[ScheduledTime]
      ,[ArrivalTime]
      ,[CheckInTime]
      ,[AssignmentTime]
      ,[CheckOutTime]
      ,[CancelTime]
      ,[Comments]
  FROM [dbo].[Encounter]

END
GO
/****** Object:  StoredProcedure [dbo].[GetLocationById]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Locations
-- =============================================
CREATE PROCEDURE [dbo].[GetLocationById] 
@Id INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	   [Id]
      ,[LocationDescription]
      ,[ReassignmentMessage]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[Notes]
  FROM [dbo].[Locations] WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[GetLocations]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Locations
-- =============================================
CREATE PROCEDURE [dbo].[GetLocations] 

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	   [Id]
      ,[LocationDescription]
      ,[ReassignmentMessage]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[Notes]
  FROM [dbo].[Locations]


END
GO
/****** Object:  StoredProcedure [dbo].[GetOpenEncountersByLocationId]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/24/2021
-- Description:	Gets Open Encounters By Location
-- =============================================
CREATE PROCEDURE [dbo].[GetOpenEncountersByLocationId]
	@LocationId INT
AS
BEGIN

SELECT 
	   [Encounter].[Id]  AS [Encounter_Id]
      ,[Encounter].[PatientId]  AS [Encounter_PatientId]
      ,[Encounter].[LocationId]  AS [Encounter_LocationId]
      ,[Encounter].[RoomId]  AS [Encounter_RoomId]
      ,[Encounter].[ProviderId]  AS [Encounter_ProviderId]
      ,[Encounter].[CreationTime]  AS [Encounter_CreationTime]
      ,[Encounter].[ScheduledTime]  AS [Encounter_ScheduledTime]
      ,[Encounter].[ArrivalTime]  AS [Encounter_ArrivalTime]
      ,[Encounter].[CheckInTime]  AS [Encounter_CheckInTime]
      ,[Encounter].[AssignmentTime]  AS [Encounter_AssignmentTime]
      ,[Encounter].[CheckOutTime]  AS [Encounter_CheckOutTime]
      ,[Encounter].[CancelTime]  AS [Encounter_CancelTime]
      ,[Encounter].[Comments]  AS [Encounter_Comments]
      ,[Patients].[Id]  AS [Patients_Id]
      ,[Patients].[FirstName]  AS [Patients_FirstName]
      ,[Patients].[LastName]  AS [Patients_LastName]
      ,[Patients].[MiddleName]  AS [Patients_MiddleName]
      ,[Patients].[Suffix]  AS [Patients_Suffix]
      ,[Patients].[Prefix]  AS [Patients_Prefix]
      ,[Patients].[DateOfBirth]  AS [Patients_DateOfBirth]
      ,[Patients].[Phone]  AS [Patients_Phone]
      ,[Patients].[Email]  AS [Patients_Email]
      ,[Patients].[AddressLine1]  AS [Patients_AddressLine1]
      ,[Patients].[AddressLine2]  AS [Patients_AddressLine2]
      ,[Patients].[AddressCity]  AS [Patients_AddressCity]
      ,[Patients].[AddressState]  AS [Patients_AddressState]
      ,[Patients].[AddressPostalCode]  AS [Patients_AddressPostalCode]
      ,[Patients].[OfficePhone]  AS [Patients_OfficePhone]
      ,[Patients].[Fax]  AS [Patients_Fax]
      ,[Patients].[PatientStatus]  AS [Patients_PatientStatus]
      ,[Patients].[Gender]  AS [Patients_Gender]
      ,[Patients].[Marital_Status]  AS [Patients_Marital_Status]
      ,[Patients].[ContactBy]  AS [Patients_ContactBy]
      ,[Patients].[Race]  AS [Patients_Race]
      ,[Patients].[SSN]  AS [Patients_SSN]
      ,[Patients].[SpokenLanguage]  AS [Patients_SpokenLanguage]
      ,[Patients].[RespProv]  AS [Patients_RespProv]
      ,[Patients].[MRN]  AS [Patients_MRN]
      ,[Patients].[Referredby]  AS [Patients_Referredby]
      ,[Patients].[EmpStatus]  AS [Patients_EmpStatus]
      ,[Patients].[SensChart]  AS [Patients_SensChart]
      ,[Patients].[HomeLocation]  AS [Patients_HomeLocation]
      ,[Patients].[ExternalID]  AS [Patients_ExternalID]
      ,[Providers].[Id]  AS [Providers_Id]
      ,[Providers].[FirstName]  AS [Providers_FirstName]
      ,[Providers].[LastName]  AS [Providers_LastName]
      ,[Providers].[MiddleName]  AS [Providers_MiddleName]
      ,[Providers].[Suffix]  AS [Providers_Suffix]
      ,[Providers].[Prefix]  AS [Providers_Prefix]
      ,[Providers].[DateOfBirth]  AS [Providers_DateOfBirth]
      ,[Providers].[Phone]  AS [Providers_Phone]
      ,[Providers].[Email]  AS [Providers_Email]
      ,[Providers].[AddressLine1]  AS [Providers_AddressLine1]
      ,[Providers].[AddressLine2]  AS [Providers_AddressLine2]
      ,[Providers].[AddressCity]  AS [Providers_AddressCity]
      ,[Providers].[AddressState]  AS [Providers_AddressState]
      ,[Providers].[AddressPostalCode]  AS [Providers_AddressPostalCode]
      ,[Providers].[OfficePhone]  AS [Providers_OfficePhone]
      ,[Providers].[Fax]  AS [Providers_Fax]
      ,[Providers].[License]  AS [Providers_License]
      ,[Providers].[AreasOfPractice]  AS [Providers_AreasOfPractice]
	  ,[Rooms].[Id] AS [Rooms_Id]
      ,[Rooms].[LocationId] AS [Rooms_LocationId]
      ,[Rooms].[RoomDescription] AS [Rooms_RoomDescription]
      ,[Rooms].[Notes] AS [Rooms_Notes]

  FROM [DB_A4BBBD_SWUPDB].[dbo].[Encounter] Inner join Patients on PatientId = Patients.Id 
  Left Outer join Providers on ProviderId = Providers.Id 
  Left Outer join Rooms on RoomId = Rooms.Id 
  Where Encounter.LocationId = @LocationId 
  And CheckOutTime IS NULL
  And CancelTime IS NULL

END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientById]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Patient By Id
-- =============================================
CREATE PROCEDURE [dbo].[GetPatientById] 
@Id INT
AS
BEGIN

	SET NOCOUNT ON;

SELECT [Id]
      ,[FirstName]
      ,[LastName]
      ,[MiddleName]
      ,[Suffix]
      ,[Prefix]
      ,[DateOfBirth]
      ,[Phone]
      ,[Email]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[PatientStatus]
      ,[Gender]
      ,[Marital_Status]
      ,[ContactBy]
      ,[Race]
      ,[SSN]
      ,[SpokenLanguage]
      ,[RespProv]
      ,[MRN]
      ,[Referredby]
      ,[EmpStatus]
      ,[SensChart]
      ,[HomeLocation]
      ,[ExternalID]
  FROM [dbo].[Patients]
 WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[GetPatients]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Patients
-- =============================================
CREATE PROCEDURE [dbo].[GetPatients] 

AS
BEGIN

	SET NOCOUNT ON;

SELECT [Id]
      ,[FirstName]
      ,[LastName]
      ,[MiddleName]
      ,[Suffix]
      ,[Prefix]
      ,[DateOfBirth]
      ,[Phone]
      ,[Email]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[PatientStatus]
      ,[Gender]
      ,[Marital_Status]
      ,[ContactBy]
      ,[Race]
      ,[SSN]
      ,[SpokenLanguage]
      ,[RespProv]
      ,[MRN]
      ,[Referredby]
      ,[EmpStatus]
      ,[SensChart]
      ,[HomeLocation]
      ,[ExternalID]
  FROM [dbo].[Patients]

END
GO
/****** Object:  StoredProcedure [dbo].[GetProviderById]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Provider By Id
-- =============================================
CREATE PROCEDURE [dbo].[GetProviderById] 
@Id INT
AS
BEGIN


SELECT [Id]
      ,[FirstName]
      ,[LastName]
      ,[MiddleName]
      ,[Suffix]
      ,[Prefix]
      ,[DateOfBirth]
      ,[Phone]
      ,[Email]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[License]
      ,[AreasOfPractice]
  FROM [dbo].[Providers]

 WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[GetProviders]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Providers
-- =============================================
CREATE PROCEDURE [dbo].[GetProviders] 

AS
BEGIN

SELECT [Id]
      ,[FirstName]
      ,[LastName]
      ,[MiddleName]
      ,[Suffix]
      ,[Prefix]
      ,[DateOfBirth]
      ,[Phone]
      ,[Email]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[AddressCity]
      ,[AddressState]
      ,[AddressPostalCode]
      ,[OfficePhone]
      ,[Fax]
      ,[License]
      ,[AreasOfPractice]
  FROM [dbo].[Providers]

END
GO
/****** Object:  StoredProcedure [dbo].[GetRoomById]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Room By Id
-- =============================================
CREATE PROCEDURE [dbo].[GetRoomById] 
@Id INT
AS
BEGIN

SELECT [Id]
      ,[LocationId]
      ,[RoomDescription]
      ,[Notes]
  FROM [dbo].[Rooms]
 WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[GetRoomOccupancyByLocationId]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/24/2021
-- Description:Get Room Occupancy By Location Id
-- =============================================
CREATE PROCEDURE [dbo].[GetRoomOccupancyByLocationId]
	@LocationId INT
AS
BEGIN
 
       SELECT DISTINCT
	   [Rooms].[Id] AS [Rooms_Id]
      ,[Rooms].[LocationId] AS [Rooms_LocationId]
      ,[Rooms].[RoomDescription] AS [Rooms_RoomDescription]
      ,[Rooms].[Notes] AS [Rooms_Notes]
	  ,Count(Encounter.Id) AS PatientCount
	  ,MAX(Encounter.AssignmentTime) AS LastAssignmentTime

  FROM [DB_A4BBBD_SWUPDB].[dbo].Rooms 
  Left Outer Join [Encounter] on RoomId = Rooms.Id 
  Where Rooms.LocationId = @LocationId 
  And CheckOutTime IS NULL
  And CancelTime IS NULL
  Group By [Rooms].[Id]
      ,[Rooms].[LocationId]
      ,[Rooms].[RoomDescription] 
      ,[Rooms].[Notes] 

END
GO
/****** Object:  StoredProcedure [dbo].[GetRooms]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/24/2021
-- Description:	Get Rooms
-- =============================================
CREATE PROCEDURE [dbo].[GetRooms] 

AS
BEGIN

SELECT [Id]
      ,[LocationId]
      ,[RoomDescription]
      ,[Notes]
  FROM [dbo].[Rooms]
END
GO
/****** Object:  StoredProcedure [dbo].[GetScheduledProvidersByLocationId]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/24/2021
-- Description:	Gets Scheduled Providers By Location Id
-- =============================================
CREATE PROCEDURE [dbo].[GetScheduledProvidersByLocationId]
	@LocationId INT
AS
BEGIN

SELECT 
 
       DISTINCT [Providers].[Id]  AS [Providers_Id]
      ,[Providers].[FirstName]  AS [Providers_FirstName]
      ,[Providers].[LastName]  AS [Providers_LastName]
      ,[Providers].[MiddleName]  AS [Providers_MiddleName]
      ,[Providers].[Suffix]  AS [Providers_Suffix]
      ,[Providers].[Prefix]  AS [Providers_Prefix]
      ,[Providers].[DateOfBirth]  AS [Providers_DateOfBirth]
      ,[Providers].[Phone]  AS [Providers_Phone]
      ,[Providers].[Email]  AS [Providers_Email]
      ,[Providers].[AddressLine1]  AS [Providers_AddressLine1]
      ,[Providers].[AddressLine2]  AS [Providers_AddressLine2]
      ,[Providers].[AddressCity]  AS [Providers_AddressCity]
      ,[Providers].[AddressState]  AS [Providers_AddressState]
      ,[Providers].[AddressPostalCode]  AS [Providers_AddressPostalCode]
      ,[Providers].[OfficePhone]  AS [Providers_OfficePhone]
      ,[Providers].[Fax]  AS [Providers_Fax]
      ,[Providers].[License]  AS [Providers_License]
      ,[Providers].[AreasOfPractice]  AS [Providers_AreasOfPractice]

  FROM [DB_A4BBBD_SWUPDB].[dbo].[Encounter] Inner join Providers on ProviderId = Providers.Id 
  Left Outer join Rooms on RoomId = Rooms.Id 
  Where Encounter.LocationId = @LocationId 
  And CheckOutTime IS NULL
  And CancelTime IS NULL

END
GO
/****** Object:  StoredProcedure [dbo].[InsertAttributesForEncounter]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAttributesForEncounter]
   @TVP IdAttributeDataType READONLY
      AS
      SET NOCOUNT ON
      INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
     SELECT [dbo].[GetEntityIdFromEncounterId](Id),[dbo].[GetAttributeId](AttributeCode),  DataValue,GETDATE(),'admin'
      FROM @TVP
GO
/****** Object:  StoredProcedure [dbo].[InsertEncounterAttributeData]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 1/28/2021
-- Description: Insert Data for an entity using encounter id and attribute code
-- =============================================
CREATE PROCEDURE [dbo].[InsertEncounterAttributeData]

@EncounterId INT,
@DataValue NVARCHAR(MAX),
@AttributeCode NVARCHAR(50)

AS
BEGIN

INSERT INTO [dbo].[AttributeValues]([EntityId],[AttributeId],[AttributeValue],[LastUpdate],[UpdateUser])
VALUES([dbo].[GetEntityIdFromEncounterId](@EncounterId), [dbo].[GetAttributeId](@AttributeCode), @DataValue,GETDATE(),'admin')
 
 END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEncounter]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Updates a [UpdateEncounter]
-- =============================================

CREATE PROCEDURE [dbo].[UpdateEncounter]
			@Id INT
		   ,@PatientId int
           ,@LocationId int
           ,@RoomId int
           ,@ProviderId int
           ,@CreationTime datetime
           ,@ScheduledTime datetime
           ,@ArrivalTime datetime
           ,@CheckInTime datetime
           ,@AssignmentTime datetime
           ,@CheckOutTime datetime
           ,@CancelTime datetime
           ,@Comments nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

UPDATE [dbo].[Encounter]
   SET [PatientId] = @PatientId
      ,[LocationId] = @LocationId
      ,[RoomId] = @RoomId
      ,[ProviderId] = @ProviderId
      ,[CreationTime] = @CreationTime
      ,[ScheduledTime] = @ScheduledTime
      ,[ArrivalTime] = @ArrivalTime
      ,[CheckInTime] = @CheckInTime
      ,[AssignmentTime] = @AssignmentTime
      ,[CheckOutTime] = @CheckOutTime
      ,[CancelTime] = @CancelTime
      ,[Comments] = @Comments		
 WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLocation]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Updates a clinic location
-- =============================================

CREATE PROCEDURE [dbo].[UpdateLocation]
 
 @Id INT
,@LocationDescription nvarchar(255)
,@ReassignmentMessage nvarchar(255)
,@AddressLine1 nvarchar(50)
,@AddressLine2 nvarchar(50)
,@AddressCity nvarchar(50)
,@AddressState nvarchar(50)
,@AddressPostalCode nvarchar(50)
,@OfficePhone nvarchar(50)
,@Fax nvarchar(50)
,@Notes nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



UPDATE [dbo].[Locations]
   SET [LocationDescription] = @LocationDescription
      ,[ReassignmentMessage] = @ReassignmentMessage
      ,[AddressLine1] = @AddressLine1
      ,[AddressLine2] = @AddressLine2
      ,[AddressCity] = @AddressCity
      ,[AddressState] = @AddressState
      ,[AddressPostalCode] = @AddressPostalCode
      ,[OfficePhone] = @OfficePhone
      ,[Fax] = @Fax
      ,[Notes] = @Notes
 WHERE Id = @Id



END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatient]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Updates a patient
-- =============================================

CREATE PROCEDURE [dbo].[UpdatePatient]
			@Id INT
		   ,@FirstName nvarchar(50)
           ,@LastName nvarchar(50)
           ,@MiddleName nvarchar(50)
           ,@Suffix nvarchar(50)
           ,@Prefix nvarchar(50)
           ,@DateOfBirth datetime
           ,@Phone nvarchar(50)
           ,@Email nvarchar(50)
           ,@AddressLine1 nvarchar(50)
           ,@AddressLine2 nvarchar(50)
           ,@AddressCity nvarchar(50)
           ,@AddressState nvarchar(50)
           ,@AddressPostalCode nvarchar(50)
           ,@OfficePhone nvarchar(50)
           ,@Fax nvarchar(50)
           ,@PatientStatus nvarchar(50)
           ,@Gender nvarchar(50)
           ,@Marital_Status nvarchar(50)
           ,@ContactBy nvarchar(50)
           ,@Race nvarchar(50)
           ,@SSN nvarchar(50)
           ,@SpokenLanguage nvarchar(50)
           ,@RespProv nvarchar(50)
           ,@MRN nvarchar(50)
           ,@Referredby nvarchar(50)
           ,@EmpStatus nvarchar(50)
           ,@SensChart nvarchar(50)
           ,@HomeLocation nvarchar(50)
           ,@ExternalID nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[Patients]
   SET [FirstName] = @FirstName		
      ,[LastName] = @LastName       
      ,[MiddleName] = @MiddleName	
      ,[Suffix] = @Suffix			
      ,[Prefix] = @Prefix			
      ,[DateOfBirth] = @DateOfBirth	
      ,[Phone] = @Phone				
      ,[Email] = @Email				
      ,[AddressLine1] = @AddressLine1	
      ,[AddressLine2] = @AddressLine2	
      ,[AddressCity] = @AddressCity		
      ,[AddressState] = @AddressState	
      ,[AddressPostalCode] = @AddressPostalCode	
      ,[OfficePhone] = @OfficePhone				
      ,[Fax] = @Fax								
      ,[PatientStatus] = @PatientStatus			
      ,[Gender] = @Gender						
      ,[Marital_Status] = @Marital_Status		
      ,[ContactBy] = @ContactBy					
      ,[Race] = @Race							
      ,[SSN] = @SSN								
      ,[SpokenLanguage] = @SpokenLanguage		
      ,[RespProv] = @RespProv					
      ,[MRN] = @MRN								
      ,[Referredby] = @Referredby				
      ,[EmpStatus] = @EmpStatus					
      ,[SensChart] = @SensChart					
      ,[HomeLocation] = @HomeLocation			
      ,[ExternalID] = @ExternalID				
 WHERE Id = @Id




END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProvider]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	Updates a provider
-- =============================================

CREATE PROCEDURE [dbo].[UpdateProvider]
	  @Id INT
      ,@FirstName   nvarchar(50)
      ,@LastName   nvarchar(50)
      ,@MiddleName   nvarchar(50)
      ,@Suffix   nvarchar(50)
      ,@Prefix   nvarchar(50)
      ,@DateOfBirth   datetime
      ,@Phone   nvarchar(50)
      ,@Email   nvarchar(50)
      ,@AddressLine1   nvarchar(50)
      ,@AddressLine2   nvarchar(50)
      ,@AddressCity   nvarchar(50)
      ,@AddressState   nvarchar(50)
      ,@AddressPostalCode   nvarchar(50)
      ,@OfficePhone   nvarchar(50)
      ,@Fax   nvarchar(50)
      ,@License   nvarchar(50)
      ,@AreasOfPractice   nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[Providers]
   SET [FirstName] = @FirstName
      ,[LastName] = @LastName
      ,[MiddleName] = @MiddleName
      ,[Suffix] = @Suffix
      ,[Prefix] = @Prefix
      ,[DateOfBirth] = @DateOfBirth
      ,[Phone] = @Phone
      ,[Email] = @Email
      ,[AddressLine1] = @AddressLine1
      ,[AddressLine2] = @AddressLine2
      ,[AddressCity] = @AddressCity
      ,[AddressState] = @AddressState
      ,[AddressPostalCode] = @AddressPostalCode
      ,[OfficePhone] = @OfficePhone
      ,[Fax] = @Fax
      ,[License] = @License
      ,[AreasOfPractice] = @AreasOfPractice				
 WHERE Id = @Id


END
GO
/****** Object:  StoredProcedure [dbo].[UpdateRoom]    Script Date: 01/29/2021 5:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rico Ross
-- Create date: 01/23/2021
-- Description:	update a room
-- =============================================

CREATE PROCEDURE [dbo].[UpdateRoom]
       @Id INT
      ,@LocationId INT
      ,@RoomDescription NVARCHAR(255)
      ,@Notes nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[Rooms]
   SET [LocationId] = @LocationId
      ,[RoomDescription] = @RoomDescription
      ,[Notes] = @Notes
 WHERE Id = @Id


END
GO
