USE [DB_A4BBBD_SWUPDB]
GO
/****** Object:  UserDefinedTableType [dbo].[IdAttributeDataType]    Script Date: 01/29/2021 5:17:54 PM ******/
CREATE TYPE [dbo].[IdAttributeDataType] AS TABLE(
	[Id] [int] NULL,
	[DataValue] [nvarchar](max) NULL,
	[AttributeCode] [nvarchar](50) NULL
)
GO
