USE [DB_A4BBBD_SWUPDB]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAttributeCode]    Script Date: 01/29/2021 5:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetAttributeCode]
(
	 @AttributeId INT
)
RETURNS  Nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	

	 DECLARE @AttributeCode Nvarchar(50)

	-- Add the T-SQL statements to compute the return value here
	SELECT @AttributeCode = LTRIM(RTRIM(LOWER(AttributeCode))) from Attributes where Id = @AttributeId

	RETURN @AttributeCode

END
GO
/****** Object:  UserDefinedFunction [dbo].[GetAttributeId]    Script Date: 01/29/2021 5:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetAttributeId]
(
	@AttributeCode Nvarchar(50)
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @AttributeId INT

	-- Add the T-SQL statements to compute the return value here
	SELECT @AttributeId = Id from Attributes where LTRIM(RTRIM(LOWER(AttributeCode))) = LTRIM(RTRIM(LOWER(@AttributeCode)))

	RETURN @AttributeId

END
GO
/****** Object:  UserDefinedFunction [dbo].[GetEntityIdFromEncounterId]    Script Date: 01/29/2021 5:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetEntityIdFromEncounterId]
(
	 @EncounterId INT
)
RETURNS  INT
AS
BEGIN
	-- Declare the return variable here
	
	DECLARE  @EntityId INT
	 

	-- Add the T-SQL statements to compute the return value here
	SELECT @EntityId = Id from Entity where ParentEntityId = @EncounterId AND EntityTypeId = dbo.GetEntityTypeId('Encounter')

	RETURN @EntityId

END
GO
/****** Object:  UserDefinedFunction [dbo].[GetEntityTypeId]    Script Date: 01/29/2021 5:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetEntityTypeId]
(
	 @EntityTypeName Nvarchar(50)
)
RETURNS  INT
AS
BEGIN
	-- Declare the return variable here
	
	DECLARE  @EntityTypeId INT
	 

	-- Add the T-SQL statements to compute the return value here
	SELECT @EntityTypeId = Id from EntityType where LTRIM(RTRIM(LOWER(TypeName))) = LTRIM(RTRIM(LOWER(@EntityTypeName)))

	RETURN @EntityTypeId

END
GO
/****** Object:  UserDefinedFunction [dbo].[GetEntityTypeName]    Script Date: 01/29/2021 5:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetEntityTypeName]
(
	 @EntityTypeId INT
)
RETURNS  Nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	

	 DECLARE @EntityTypeName Nvarchar(50)

	-- Add the T-SQL statements to compute the return value here
	SELECT @EntityTypeName = TypeName from EntityType where Id = @EntityTypeId

	RETURN @EntityTypeName

END
GO
